ConsoleWidget
{
	background-color:			#000000;
	font-family:				"Lucida console";
	qproperty-maxLines:			300;
	qproperty-messageColor:		#dde6ff;
	qproperty-warningColor:		#ff1131;
}

CommandEntryBox
{
	qproperty-iconConCommand:		"resource/command_symbol.svg";
	qproperty-iconConVar:			"resource/variable_symbol.svg";
}

